nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#") Meal Planner
    button.navbar-toggler(
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation")
        span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.m-auto
            li.nav-item(class=(name === "index" ? "active" : undefined))
                a.nav-link(href="#") Home
            li.nav-item.dropdown(
                class=(name === "recipes" ? "active" : undefined))
                a#navbarDropdown.nav-link.dropdown-toggle(
                    href='recipes.html'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false') Recipes

                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(
                        href='/recipes/dist/index.html') All Recipes
                    a.dropdown-item(
                        href='/recipes/dist/edit.html') Add Recipe
            li.nav-item.dropdown(
                class=(name === "plans" ? "active" : undefined))
                a#navbarDropdown.nav-link.dropdown-toggle(
                    href='#'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false') Meal Planning
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(
                        href='/plans/dist/index.html') All Plans
                    a.dropdown-item(
                        href='/plans/dist/edit.html') Create Plan
            li.nav-item.dropdown(
                class=(name === "lists" ? "active" : undefined))
                a#navbarDropdown.nav-link.dropdown-toggle(
                    href='#'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false') Grocery Lists
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(
                        href='/lists/dist/index.html') All Lists
                    a.dropdown-item(
                        href='/lists/dist/edit.html') Create List
        ul.navbar-nav
            li.nav-item
                a.nav-link(
                    href='/dist/settings.html'
                    class=(name === "settings" ? "active" : undefined)) Account &amp; Settings
            li.nav-item
                a.nav-link(
                    href='/dist/index.html') Logout